# Dependencies
node_modules/
package-lock.json

# Environment
.env
.env.local

# Build files
dist/
build/
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Uploads
uploads/
temp/

# OS
Thumbs.db